.sensei-img{ 
    background-position: center;
      filter: drop-shadow( 5px 15px 10px rgba(18, 17, 17, 0.69));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-position: center;
   
}
body{
    background-image: url(./bg.jpg);
    background-position: center;
    background-size: cover;
}
.header{

    margin: 10px;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100px;
}
 .logo{

    background-color: black;
}

nav .div{
    position: relative;
    justify-content: end;
}
.main{
    height: min-content;
    background-color: rgba(255, 166, 0, 0.363);
}rgba(255, 166, 0, 0.54)

.info{
    margin-top: 0%;
    padding: 50px;
    background-color: rgb(255, 252, 157);
 
    
   
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
        font-family: "Anton", sans-serif;
        font-weight:bolder;
        font-style:normal;
        z-index: 10;
      
      
      }

      h2{
        background-color :white;
      }
#y1logo{
    float: left;
    display: inline-block   ;
    margin-right: 20px;
}
    .span #y1logo{
        display: flex;
        float: left;
    } 
    #para{
        float: right;
    }

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Libre+Baskerville&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap')

